# Q1. What is a database? Differentiate between SQL and NoSQL databases.

## A database is an organized collection of structured data that is stored and managed in a computer system. It provides an efficient way to store, retrieve, and manage large amounts of information. Databases are commonly used in various applications, such as websites, financial systems, e-commerce platforms, and more.

### SQL (Structured Query Language) Databases: SQL databases are based on the relational model, where data is organized into tables with predefined schemas
### Structure: SQL databases enforce a fixed schema, meaning the structure of the data is defined in advance. Each table has predefined columns and data types, and the relationships between tables are established through keys.
### Scalability: SQL databases typically scale vertically by adding more powerful hardware to handle increased loads. They can also scale horizontally by distributing data across multiple servers


### NoSQL (Not Only SQL) Databases:NoSQL databases offer a more flexible and scalable approach to data storage. They are designed to handle large amounts of unstructured or semi-structured data, and they don't rely on fixed schemas 
### Flexibility: NoSQL databases allow dynamic and schema-less data storage. Records within a collection can have varying structures, making it easier to handle evolving data requirements.
### Scalability: NoSQL databases are built to scale horizontally, distributing data across multiple servers in a cluster. They can handle massive amounts of data and provide high availability and fault tolerance.
### Performance: NoSQL databases are optimized for performance, especially for read and write operations at a large scale. They often sacrifice some ACID properties in favor of higher throughput and lower latency.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database, including creating, modifying, and deleting database objects

In [ ]:
#CREATE:
#The CREATE statement is used to create new database objects such as tables, indexes, views, or schemas. 
cerate table customers (
    id INT PRIMARY KEY ,
    name abhishek(100),
    email abhishek(100)
);

In [ ]:
## DROP: The DROP statement is used to remove database objects such as tables, indexes, or views from the database. It permanently deletes the specified object and its associated data.
DROP TABLE Customers;

In [ ]:
## ALTER: The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or delete columns, constraints, or other attributes of a table. 
ALTER TABLE Customers
ADD COLUMN phone VARCHAR(20);

In [ ]:
## TRUNCATE: The TRUNCATE statement is used to remove all data from a table while keeping its structure intact. It is faster than deleting all rows one by one.
TRUNCATE TABLE Customers;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
#DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate and query data within a database. DML statements are responsible for adding, modifying, and deleting data stored in the database tables. Let's explore three commonly used DML statements:

#INSERT:
#The INSERT statement is used to add new rows of data into a table. It allows you to specify the values for each column or insert data from another table. Here's an example of inserting a new row into a table:


INSERT INTO Customers (id, name, email)
VALUES (1, 'John Doe', 'john@example.com');
In this example, a row is inserted into the "Customers" table with the specified values for the "id," "name," and "email" columns.

#UPDATE:
#The UPDATE statement is used to modify existing data in a table. It allows you to update one or more columns of one or multiple rows. Here's an example of updating a specific row in a table:


UPDATE Customers
SET email = 'newemail@example.com'
WHERE id = 1;
This statement updates the "email" column of the "Customers" table for the row where the "id" is equal to 1.

#DELETE:
#The DELETE statement is used to remove one or more rows from a table. It allows you to specify a condition to delete specific rows or delete all rows from a table. Here's an example of deleting a specific row from a table:


DELETE FROM Customers
WHERE id = 1;
This statement deletes the row from the "Customers" table where the "id" is equal to 1.

# Q4. What is DQL? Explain SELECT with an example.

## DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. DQL statements are primarily focused on querying and retrieving data without modifying the structure or content of the database.

In [ ]:
SELECT id, name, email
FROM Customers
WHERE age > 25;

# Q5. Explain Primary Key and Foreign Key.

## Primary Key:
## A primary key is a column or a set of columns in a database table that uniquely identifies each row. It ensures that each row in a table is uniquely identifiable and provides a way to access and manipulate specific rows of data. Key characteristics of a primary key are:

## Uniqueness: Every value in the primary key column(s) must be unique. No two rows in the table can have the same primary key value.
## Non-nullability: A primary key value cannot be null or empty. It must have a valid value for each row.
## Immutability: The primary key value should not change once it is assigned to a row

## Foreign Key:
## A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables, known as a parent-child relationship. The foreign key in the child table refers to the primary key in the parent table. Key characteristics of a foreign key are:

## Referential Integrity: A foreign key ensures that the values in the child table's foreign key column(s) correspond to the values in the parent table's primary key column(s). It enforces referential integrity, preventing the creation of orphaned rows.
## Relationship: The foreign key represents a relationship between the two tables, where the child table depends on the parent table.
## Optional or Mandatory: Depending on the design, a foreign key can be optional or mandatory. An optional foreign key allows null values, indicating that the relationship is not always required. A mandatory foreign key enforces that a valid reference to the parent table must exist.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
cursor = mydb.cursor()
mycursor.excute("show databases")
for x in mycusor :
    print (x)

# Q7. Give the order of execution of SQL clauses in an SQL query.